main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

#section-login{
    height: 100px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid rgb(111, 111, 111);
    padding: 20px 20px;
   
}